

<form [formGroup]="contactForm">

  <input
    type="text"
    placeholder="Name"
    class="form-control"
    formControlName="user"
  />

  <ng-container *ngIf="contactForm.get('user')?.errors">
    <p class="warn-text">*Solo letras y numeros</p>
  </ng-container>


  <input
    type="email"
    placeholder="Email"
    class="form-control"
    formControlName="useremail"
  />

  <ng-container *ngIf="contactForm.get('useremail')?.errors">
    <p class="warn-text">*Solo emails</p>
  </ng-container>


  <input
    type="text"
    placeholder="Phone Number"
    class="form-control"
    formControlName="userphone"
  />
  <ng-container *ngIf="contactForm.get('userphone')?.errors">
    <p class="warn-text">*Este campo deberia iniciar con +</p>
  </ng-container>


  <textarea
  type="text"
  placeholder="Message"
  class="form-control"
  formControlName="Message">
  </textarea>

  <ng-container *ngIf="contactForm.get('Message')?.errors">
    <p class="warn-text">*Ya hay mas de 10 caracteres</p>
  </ng-container>

  <button class="send">Send</button>
</form>
